---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic VXhrT0hzaGZwUjBlQWxMS2s1UjZSR3hSZzpCOWdzR1hNb0RIRVJNYm8wZHR0cm1QUHdqc0U4S1RDaEZSZkhVSVFMcEFrSTNZT3JHZA==
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 24 Aug 2017 13:26:28 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 298358bb4e4c95266995a62794f24d31
      X-Response-Time:
      - '122'
      X-Transaction:
      - 00fb4a8b0063b8bd
      X-Tsa-Request-Body-Time:
      - '3'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAMn31wAAAAAANdkCYU0%2FbVK%2BSMu7upUtlx8IOV8%3DROLhnZaEM176JIIsAb013qEj2OdPBYuiQSuD8WD0CkvUhdHVq4"}'
  recorded_at: Thu, 24 Aug 2017 13:26:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2540rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAMn31wAAAAAANdkCYU0%2FbVK%2BSMu7upUtlx8IOV8%3DROLhnZaEM176JIIsAb013qEj2OdPBYuiQSuD8WD0CkvUhdHVq4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 24 Aug 2017 13:26:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - c49e589d01f011526e723a7e18ad38cd
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '449'
      X-Rate-Limit-Reset:
      - '1503582100'
      X-Response-Time:
      - '324'
      X-Transaction:
      - 0061c26d001e10a1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Aug 24 04:23:40 +0000 2017","id":900574305158914048,"id_str":"900574305158914048","text":"RT
        @tutorias: #Tutorias RECURSIVIDAD \u2013 RUBY + POO (INTERCAMBIO RECURSIVO
        ENTRE DOS VECTORES) @rails #Programacion https:\/\/t.co\/gWUrAn4U6f h\u2026","truncated":false,"entities":{"hashtags":[{"text":"Tutorias","indices":[14,23]},{"text":"Programacion","indices":[100,113]}],"symbols":[],"user_mentions":[{"screen_name":"tutorias","name":"Tutorias.co","id":310539942,"id_str":"310539942","indices":[3,12]},{"screen_name":"rails","name":"Ruby
        on Rails","id":3116191,"id_str":"3116191","indices":[93,99]}],"urls":[{"url":"https:\/\/t.co\/gWUrAn4U6f","expanded_url":"https:\/\/tutorias.co\/recursividad-ruby-poo-intercambio-recursivo-entre-dos-vectores\/","display_url":"tutorias.co\/recursividad-r\u2026","indices":[114,137]}]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":881564226208378880,"id_str":"881564226208378880","name":"Weltraum
        Rob","screen_name":"weltraum_rob","location":"","description":"Vater, Mann,
        hoffe dass Gerechtigkeit existiert, bislang davon entt\u00e4uscht, weil man
        gegen Windm\u00fchlen k\u00e4mpft. Alle Menschen sind gleich, doch jeder einzigartig.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":95,"friends_count":152,"listed_count":0,"created_at":"Sun
        Jul 02 17:24:25 +0000 2017","favourites_count":4396,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":6745,"lang":"de","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/881586851701813250\/uiF9OgTV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/881586851701813250\/uiF9OgTV_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Aug 24 00:37:00 +0000 2017","id":900517262473482240,"id_str":"900517262473482240","text":"#Tutorias
        RECURSIVIDAD \u2013 RUBY + POO (INTERCAMBIO RECURSIVO ENTRE DOS VECTORES)
        @rails #Programacion\u2026 https:\/\/t.co\/7Ufsot5JEs","truncated":true,"entities":{"hashtags":[{"text":"Tutorias","indices":[0,9]},{"text":"Programacion","indices":[86,99]}],"symbols":[],"user_mentions":[{"screen_name":"rails","name":"Ruby
        on Rails","id":3116191,"id_str":"3[...]
