---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/place.json?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAMn31wAAAAAANdkCYU0%2FbVK%2BSMu7upUtlx8IOV8%3DROLhnZaEM176JIIsAb013qEj2OdPBYuiQSuD8WD0CkvUhdHVq4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 24 Aug 2017 13:49:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b285add7f3e09be9814d388778f6cc6c
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1503583449'
      X-Response-Time:
      - '114'
      X-Transaction:
      - 00c6f79200ddf874
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"trends":[{"name":"#FelizJueves","url":"http:\/\/twitter.com\/search?q=%23FelizJueves","promoted_content":null,"query":"%23FelizJueves","tweet_volume":28408},{"name":"Zlatan
        Ibrahimovic","url":"http:\/\/twitter.com\/search?q=%22Zlatan+Ibrahimovic%22","promoted_content":null,"query":"%22Zlatan+Ibrahimovic%22","tweet_volume":49941},{"name":"#NationalBurgerDay","url":"http:\/\/twitter.com\/search?q=%23NationalBurgerDay","promoted_content":null,"query":"%23NationalBurgerDay","tweet_volume":20309},{"name":"#SwishSwishMusicVideo","url":"http:\/\/twitter.com\/search?q=%23SwishSwishMusicVideo","promoted_content":null,"query":"%23SwishSwishMusi[...]
