---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic VXhrT0hzaGZwUjBlQWxMS2s1UjZSR3hSZzpCOWdzR1hNb0RIRVJNYm8wZHR0cm1QUHdqc0U4S1RDaEZSZkhVSVFMcEFrSTNZT3JHZA==
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 25 Aug 2017 06:10:57 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - ea1058c96c93d1c8d164109dfcd0a0db
      X-Response-Time:
      - '167'
      X-Transaction:
      - 00b1746800241a4f
      X-Tsa-Request-Body-Time:
      - '3'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAMn31wAAAAAANdkCYU0%2FbVK%2BSMu7upUtlx8IOV8%3DROLhnZaEM176JIIsAb013qEj2OdPBYuiQSuD8WD0CkvUhdHVq4"}'
  recorded_at: Fri, 25 Aug 2017 06:10:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/place.json?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAMn31wAAAAAANdkCYU0%2FbVK%2BSMu7upUtlx8IOV8%3DROLhnZaEM176JIIsAb013qEj2OdPBYuiQSuD8WD0CkvUhdHVq4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 25 Aug 2017 06:11:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 306798fa63ac007af017da6b150c4712
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '73'
      X-Rate-Limit-Reset:
      - '1503642264'
      X-Response-Time:
      - '164'
      X-Transaction:
      - 00a32ed200c18863
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"trends":[{"name":"#LookWhatYouMadeMeDo","url":"http:\/\/twitter.com\/search?q=%23LookWhatYouMadeMeDo","promoted_content":null,"query":"%23LookWhatYouMadeMeDo","tweet_volume":235103},{"name":"#GaneshChaturthi","url":"http:\/\/twitter.com\/search?q=%23GaneshChaturthi","promoted_content":null,"query":"%23GaneshChaturthi","tweet_volume":58293},{"name":"#FifthHarmony","url":"http:\/\/twitter.com\/search?q=%23FifthHarmony","promoted_content":null,"query":"%23FifthHarmony","tweet_volume":193334},{"name":"#\u0644\u0646_\u0646\u0642\u0644\u0637_\u0628\u0639\u062F_\u0627\u0644\u0631\u062C\u0627\u0644","url":"http:\/\/twitter.com\/search?q=%23%D9%84%D9%86_%D9%86%D9%82%D9%84%D8[...]
