.nav.navbar.navbar-default.navbar-static-top.js-header
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand', style: 'padding-top: 7px;' do
        %h4{style: "display: inline-block"}
          TwitSearch